.input {
  height: 4em;
  display: flex;
  font-weight: bold;
  justify-content: right;
  font-size: 1.4em;
  background-color: #858282;
  color: #fff;
  padding: 0.5em;
  outline: 1px solid #888888;
}

.input-t {
  flex-basis: 100%;

}